<div class="input-field col s3">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
</div>
<div class="input-field col s3">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
</div>
