<div class="container snippet" id="content">
  <h2 class="section-header center-align">Listing Snippet</h2>
  <p>
    <strong>Name:</strong>
    <%= @language.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= image_tag @language.logo.url %>
  </p>
  <%= link_to 'Back', languages_path %>
</div>
