<div class="container quiz" id="content">
  <div class="row">
    <div id="question-header" class="header light-blue-text col s12 m8 offset-m2 quiz-menu">
      <p>Hello World! in Java</p>
    </div>
    <div id="question-attempt" class=" col s12 m6 l5 offset-l1 z-depth-2">
    </div>
    <div id="question-answer" class=" col s12 m6 l5 z-depth-2">
    </div>
    <div class="question-navigation buttons col s12">
      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li id="active" class="waves-effect circle active"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
      <a class="disabled waves-effect waves-light blue btn">previous</a>
      <a class="waves-effect waves-light blue btn">next</a>
    </div>
  </div>
</div>
