<div class="container quiz" id="content">
  <div class="row">
    <div class="light-blue-text col s12 m8 offset-m2 center-align">
      <h2 class="section-header">Hello World! in Java</h2>
    </div>
    <div id="" class="quiz-editor-parent col s12 m10 offset-m1 l8 offset-l2">
      <div id="editor" class="editor">function foo(items) {
          var x = "All this is syntax highlighted";
          return x;
      }</div>
    </div>
    <div class="question-navigation buttons col s12">
      <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li id="active" class="waves-effect circle active"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect circle"><a href="#!"></a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
      <a class="disabled waves-effect waves-light blue btn">previous</a>
      <a class="waves-effect waves-light blue btn">next</a>
    </div>
    <script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        //editor.setTheme("ace/theme/monokai");
        editor.setTheme("ace/theme/dawn");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
  </div>
</div>
<!-- Modal Structure -->
<div id="save-modal" class="modal">
  <div class="modal-content">
    <h4>Good Show!</h4>
    <p>It is a sign of an experienced programmer to to save freqently... even if they attempt to do so in the browser on occasion.</p>
    <p>On a side note, if you make an account (100% free) you can add snippets of code to practice... and you can actually save those.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Got It!</a>
  </div>
</div>
