<% content_for :title, "Manage Categories" %>
<div class="container category" id="content">
  <h2 class="section-header center-align">Categories</h2>
  <table class="highlight">
    <thead>
      <tr>
        <th>Category Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td class="min-width"><%= link_to 'Remove', category_path(category),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <div class="row center">
    <div class="col s12">
      <%= link_to 'New Category', new_category_path, :class => 'btn-large waves-effect waves-light blue' %>
    </div>
  </div>
  <div class="row no-margin">
    <div class="col s12">
      <%= link_to '&larr; Back'.html_safe, {controller: 'quizzes', action: 'manage'}, :class => "manage-back-link"  %>
    </div>
  </div>
</div>
