// .container{
//   min-height: 820px;
// }

html{
  height: 100%;
}

.collection-item:hover{
  background-color: #f3f3f3 !important;
}

.dropdown-item:hover{
  background-color: #f3f3f3 !important;
}

nav{
  #logo-container{
    .brand-logo:hover{
      background-color: transparent;
    }
    #logo-image{
      img{
        position: relative;
        top: 9px;
        height: 45px;
      }
    }
    #logo-text{
      margin-left: 10px;
    }
  }
  #user-dropdown{
    top: 65px;
    width: 175px !important;
    .dropdown-item{
      min-height: 64px;
      padding-top: 20px;
      a{
        min-height: 64px;
      }
    }
  }
}

body{
  position: relative;
  min-height: 100%;
  margin: 0;
  min-width: 320px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 110px;
}

//On most pages
main{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
}

.section-header{
  @extend .light-blue-text;
  @at-root h1#{&} {
    font-size: 3rem;
  }
  @at-root h2#{&} {
    font-size: 2.5rem;
  }
  @at-root h3#{&} {
    font-size: 1.75rem;
  }
  @at-root h4#{&} {
    font-size: 1.25rem;
  }
  @at-root h5#{&} {
    font-size: 1.15rem;
  }
  @at-root h6#{&} {
    font-size: 1rem;
  }
}

//To fix input labels not being in proper place
.input-field label{
  top: 2.2rem;
}

.select-dropdown{
  //color: #9e9e9e;
}

.page-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.display-select{

}
.nav-wrapper{
  .button-collapse{
    margin-left: 0;
  }
  // At < 992
  @media (max-width: 992px){
    #logo-text{
      //font-size: 1.80rem;
    }
  }

  // At < 600
  @media (max-width: 600px){
    #logo-text{
      font-size: 1.30rem;
    }
  }
}

.modal.error-modal{
  width: 20%;
}

td.min-width{
  width:1%;
  white-space:nowrap;
  padding: 0 12px 0 12px;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}

.display-none{
  display: none;
}

.noselection .ace_marker-layer .ace_selection {
   background: transparent;
}

.noselection .ace_cursor {
   color: transparent;
}
