.quiz.container{
  //used to allow for ace editor to take full width of screen at lower sizes
  width: 100%;
  padding-top: 15px;

  .buttons{
    position: relative;
    .manage-button{
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  .manage-back-link{
    margin-left: 15px;
  }
}

#width_tmp_select{
  width: auto;
}

.quiz{
  .quiz-editor-parent{
    position: relative;
    height: 500px;
    .editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
  }
  .answer-editor-parent, .attempt-editor-parent{
    position: relative;
    height: calc(100% - 48px);
    .editor{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
  }
  @media (max-width: 960px)
  {
    #editor-parent{
      //TODO: Could be done with grid system?
      max-width: 100%;
    }
  }
  #manage-header{
    .section-header{
      margin-bottom: 10px;
    }
  }
}

.question, .answer{
    display: none;
    &:first-of-type{
      display: block;
    }
    .code-field{
      display: none;
    }
}

.question-navigation.buttons{
  text-align: center;
  margin-top: 10px;

  .pagination{
    .circle{
      border-radius: 20px;
      height: 15px;
      width: 15px;
      margin-top: 7px;
      @extend .blue, .lighten-4;
    }
    li.active{
      @extend .lighten-2;
    }
    li:hover{
      @extend .lighten-1;
    }
  }
  .previous-item, .next-item, .finish-button{
    min-width: 130px;
  }
  .finish-button{
    display: none;
  }
}

#question-answer, #question-attempt{
  // Style the answer and attempt section headers
  height:450px;
  border: 1px solid #f1edea;
  padding: 0;
  //TODO: Remove this header styling
  @extend .grey, .lighten-5;
  .section-header-container{
    border-bottom: 1px solid #f1edea;
    padding: 0;
    .section-header{
      margin: 10px 0 10px 0;
    }
  }
  .content{
    padding: 10px 25px 10px 25px;
  }
}


#save-modal{
  //Style the save modal
  width: 25%;
}

.quiz-list{
  user-select: none;
  .section-header{
    //language-select drop down menu
    .select-dropdown{
      position: relative;
      left: -5px;
      margin-bottom: 1.25rem;
      font-size: 2.5rem;
    }
    .dropdown-content{
      min-width: 150px;
    }
  }

  .collapsible-header{
    border-bottom: none;
    cursor: default;
    .arrow-parent{
      width: 16px;
      float: left;
      .arrow{
        transition: transform .2s;
        width: 100%;
        transform: rotate(-90deg);
      }
    }

    &.active{
      .arrow{
        transform: none;
      }
    }

    &.active.disabled{
      .arrow{
        transform: rotate(-90deg);
      }
    }

    &:last-child{

    }
    &.disabled{
      .arrow{
        opacity: .70;
      }
      @extend .grey-text, .text-lighten-1;
      .switch .lever{
        background-color: #e8e8e8;
        &:after{
          background-color: #d4d4d4 !important;
        }
      }
    }
  }
  .collapsiblez.sub-menu{
    box-shadow: none;
  }

  .collapsible-header:hover{
    cursor: pointer;
    @extend .grey, .lighten-4;
  }

  ul.collapsiblez{
    position: relative;
  }

  // .collapsible-body{
  //     border: none;
  // }

.sub-menu{
  margin: 0;
  .collapsible-header{
    @extend .grey, .lighten-5;
  }
  //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.99), 0 1px 5px 0 rgba(0, 0, 0, 0.99), 0 3px 1px -2px rgba(0, 0, 0, 0.99);
  //Use to change color
  /*@extend .blue, .lighten-4;*/
}

.switch{
      display: inline-block;
      position: absolute;
      right: 0;
  }
}
