.container.snippet{
  width: 100%;
  //So that the editor can stretch from the left to the right

  padding-top: 10px;
  &.index{
    width: 50%;
  }
}

.snippet{
  .options{
      margin-top: 40.7px;
      float: right;
      .option{
        margin-left: 20px;
      }
  }
  .snippet-editor-parent{
    $editor-header-height: 80px;
    position: relative;
    height: 500px + $editor-header-height;
    padding: 0;
    .editor-header{
      height: $editor-header-height;
      @extend .blue, .lighten-2;
      .languages{
        height: calc(#{$editor-header-height} - 15px);
        background-color: rgba(51, 51, 51, 0.08);
        font-size: 0;
        .language{
          display: inline-block;
          width: 70px;
          height: 100%;
          text-align: center;
          // padding-top: calc(#{$editor-header-height} / 4);
          &.active{
            //active is assigned after clicking on a language
            background-color: rgba(51, 51, 51, 0.06);
          }
          &.disabled{
            img{
              opacity: .20;
              transition: opacity .5s ease-in-out;
              -moz-transition: opacity .5s ease-in-out;
              -webkit-transition: opacity .5s ease-in-out;
            }
          }
          &:hover{
            cursor: pointer;
            background-color: rgba(51, 51, 51, 0.11);
          }
          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
          img{
            max-height: 32px;
            max-width: 32px;
            transform: translateY(50%);
          }
        }
      }
    }

    .language-field, .code-field{
      display: none;
    }
    .editor {
        position: absolute;
        top: $editor-header-height;
        right: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - #{$editor-header-height});
    }
    .editor ~ .editor{
       display: none;
    }
  }
  #snippet_title{
    margin-bottom: 0;
  }
  .snippet-category-label{
    font-size: 14px;
    color: #9e9e9e;
    position: relative;
    top: -5px;
    left: 6px;
  }
  .category-select{
    margin: 20px 0 0 0;
    input[type=text]{
      margin: 0;
    }
  }
  .input-field{
    margin-top: 0;
  }
  .data-fields{
    margin-top: 30px;
    .data-label{

      font-size: 16px;
      color: #9e9e9e;
    }
    .data-field{
      font-size: 22px;
    }
  }
  .snippet-back-link{
    margin-top: 15px;
  }

}
