.container.study{

  .study-section{

    h3{
      font-size: 1.70rem;
    }
    // At <= 992
    @media (max-width: 992){
      h3{
        font-size: 1.40rem;
      }
    }
    // At <= 600
    @media (max-width: 600){
      h3{
        font-size: 1.70rem;
      }
    }
  }
}
