.container.user{
  width: 30%;
  //So that the editor can stretch from the left to the right
  padding-top: 10px;

  // At < 992
  @media (max-width: 992px){
    &{
      width: 60%;
    }
  }

  // At < 600
  @media (max-width: 600px){
    &{
      width: 100%;

    }
  }

  .button_to{
    i.btn-large.red{
      padding: 0;
      input[type="submit"]{
        // To make the button selectable at any point
        @extend .btn-large, .waves-effect, .waves-light, .red, .white-text, .btn, .btn-flat, .waves-input-wrapper;
      }
    }
  }

}
