<div class="container study" id="content">
  <div class="row">
    <div class="col l3 m4 s12 collection">
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item active">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
    </div>
    <div class="col l9 m8 s12 study-section">
      <div class="header light-blue-text col s12">
          <h3>Learning about Insertion Sort</h3>
      </div>
    </div>

  </div>

</div>
